<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="assets/styles/registerPage.css" type="text/css" > <!--Page specific style-->
    <link rel="stylesheet" href="assets/styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/navbar.css" type="text/css" > <!--navbar-->
    <link rel="stylesheet" href="assets/styles/gui.css" type="text/css" > <!--gui-->
</head>



<body>
    <nav class="navbar bg-dark navbar-expand-lg justify-content-between">
        <h2>Dashboard</h2>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">HELLO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">ABOUT</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/register">Sign up</a>
            </li>
        </ul>
    </nav>
    <div class="d-flex justify-content-around">

        <form action="/deleteUser" method="POST">
            <header>Delete User</header>
            <div class="input-group input-group-sm mb-3">
                <input type="text" id="userGameId" name="userGameId" class="form-control" placeholder="Please input user game id" aria-describedby="inputGroup-sizing-sm" required>
            </div>

            <button type="submit" value="Delete" class="btn-light btnReg">Delete</button>
        </form>

        <form action="/updateUser" method="POST">
            <header>Change Username</header>
            <div class="input-group input-group-sm mb-3">
                <input type="text" id="userGameId" name="userGameId" class="form-control" placeholder="Please input user game id" aria-describedby="inputGroup-sizing-sm" required>
            </div>
            <div class="input-group input-group-sm mb-3">
                <input type="text" id="username" name="username" class="form-control" placeholder="Please input new username" aria-describedby="inputGroup-sizing-sm" required>
            </div>
            <button type="submit" value="Login" class="btn-light btnReg">Update</button>
        </form>

        
    </div>
</body>
</html>