<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="../assets/styles/frontPage.css" type="text/css" > <!--Page specific style-->
    <link rel="stylesheet" href="../assets/styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/styles/navbar.css" type="text/css" > <!--navbar-->
    <link rel="stylesheet" href="../assets/styles/gui.css" type="text/css" > <!--gui-->
</head>



<body>
    <nav class="navbar bg-dark navbar-expand-lg justify-content-between">
        <a class="navbar-brand" href="#">LOGO</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <% if ( user[0] !== undefined ) { %>
                     <a class="nav-link text-white" href="#"> Hello, 
                        <%= user %>
                    </a>
                    <% } else { %>
                        <a class="nav-link text-white" href="#">Hello, unregistered user</a>
                    <% } %>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">ABOUT</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <% if ( user[0] !== undefined ) { %>
                    <a class="nav-link text-white" href="/Logout/">Logout</a>
                <% } else {%>
                    <a class="nav-link text-white" href="/login">Login</a>
                <% } %>
            </li>
            <li class="nav-item">
                <% if ( role[0] == 'u' ) { %>
                    <a class="nav-link text-white" href="#">Click the play button below</a>
                <% } else if ( role[0] == 'A' ) { %>
                    <a class="nav-link text-white" href="/dashboard">Dashboard</a>
                <% } else { %>   
                    <a class="nav-link text-white" href="/register">Sign up</a>
                <% } %>
                
            </li>
        </ul>
    </nav>
    <div class="container-fluid frontPage">
       
        <div class="title">
            <h1 class="header text-center"> <strong>PLAY TRADITIONAL GAME</strong></h1>
            <p class="text-center">Experient new traditional game play</p>
        </div>


        <div class="text-center">
            <% if ( user[0] !== undefined ) { %>
                <a href="/play" class="btn btn-warning text-center">PLAY NOW</a>
               <% } else { %>
                <a href="/register" class="btn btn-warning text-center">REGISTER NOW</a>
               <% } %>
        </div>

        <div style="margin-top: 90px;">
            <p class="text-center text-white">The story</p>
        </div>
    </div>

</body>
</html>