<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="assets/styles/registerPage.css" type="text/css" > <!--Page specific style(uses the same format)-->
    <link rel="stylesheet" href="assets/styles/navbar.css" type="text/css" > <!--navbar-->
    <link rel="stylesheet" href="assets/styles/gui.css" type="text/css" > <!--gui-->
    <link rel="stylesheet" href="assets/styles/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar bg-dark navbar-expand-lg justify-content-between">
        <a class="navbar-brand" href="#">Register</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">WORK</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">ABOUT</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/">Return Home</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">

        <header>Login</header>

        <div class="form">

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Username</span>
                <input type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
                <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>

        <button class="btn-light btnReg">Register Now</button>
       
    </div>
</body>
</html>