body {
    background-color: #d3ac68 !important;
}

header {
    font-size: 40px;
    font-weight: 600;
}

.form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 200;
    padding: 20px;  
}

.container-fluid     {
    margin-top: 100px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
}

@media (max-width: 120px) {
    .vs {
        margin-top: 2rem !important;
    }
}